<div class="main">
  <ng-template #newOrder>
    <nz-space>
      <nz-input-group *nzSpaceItem [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" [formControl]="searchControl" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>
    </nz-space>
  </ng-template>
  <nz-card nzTitle="Orders" [nzExtra]="newOrder">
    <nz-table nzSize="small" #basicTable [nzData]="suggestions$ | async" [nzFrontPagination]="false" nzShowSizeChanger
      [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageIndexChange($event)"
      [nzLoading]="isLoading" (nzPageSizeChange)="pageSizeChange($event)">
      <thead>
        <tr>
          <th>Id</th>
          <th>Order Name</th>
          <th>Order Type</th>
          <th>Player Name</th>
          <th>Player Steam Id</th>
          <th>Player Discord Name</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.pack?.name ?? data.warzone?.name ?? data.scumServer.uav?.name ?? 'unknown'}}</td>
          <td>{{resolveOrderType(data.orderType)}}</td>
          <td>{{data.player.name}}</td>
          <td>{{data.player.steamId64}}</td>
          <td>{{data.player.discordName}}</td>
          <td>{{resolveOrderStatus(data.status)}}</td>
          <td>{{data.createDate | date: 'MM/dd/yyyy HH:mm'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>