/* You can add global styles to this file, and also import other style files */

// /* Default Light Theme */
// :root {
//     --primary-color: #1890ff;
//     --background-color: #ffffff;
//     --text-color: #000000;
//     --card-background: #ffffff;
//     --border-color: #d9d9d9;
//   }
  
//   /* Dark Mode */
//   .dark-mode {
//     --primary-color: #177ddc;
//     --background-color: #141414;
//     --text-color: #ffffff;
//     --card-background: #1f1f1f;
//     --border-color: #303030;
//   }
  
//   /* Apply to NG-ZORRO Components */
//   body {
//     background-color: var(--background-color);
//     color: var(--text-color);
//     transition: background-color 0.3s ease, color 0.3s ease;
//   }
  
//   /* Override NG-ZORRO Component Styles */
//   .ant-layout,
//   .ant-card,
//   .ant-modal,
//   .ant-dropdown-menu {
//     background-color: var(--card-background) !important;
//     color: var(--text-color) !important;
//   }
  
//   .ant-btn-primary {
//     background-color: var(--primary-color) !important;
//     border-color: var(--primary-color) !important;
//   }
  
//   .ant-input,
//   .ant-select-selector {
//     background-color: var(--background-color) !important;
//     color: var(--text-color) !important;
//     border-color: var(--border-color) !important;
//   }
  
.main {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;

    &.single {
        nz-card {
            flex-grow: 0;
        }
    }

    nz-card {
        width: 600px;
        flex-grow: 1;

        input {
            width: 100%;
        }
    }

    .last {
        flex-grow: 1;
        width: 600px;
    }
}

.success {
    color: #22bb33 !important;
}

.danger {
    color: #ff4d4f !important;
}

.discord-success {
    display: flex;
    gap: 10px;
}

.mat-mdc-select-panel {
    background-color: white !important;
}

.mdc-tab__content {
    margin-bottom: 10px;
}

.mat-mdc-text-field-wrapper {
    overflow: visible !important;
}

.cron-editor-tab-content {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
}

.top-actions-popconfirm {
    .ant-btn {
        display: none;
    }

    .top-action {
        display: block !important;
    }
}

mat-option {
    color: black !important;
}