.main {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;

    nz-card {
        width: 600px;
        flex-grow: 1;

        input {
            width: 100%;
        }
    }

    .last {
        flex-grow: 1;
        width: 600px;
      }
}

.discord-success {
    display: flex;
    gap: 10px;
}

p {
    margin: 0;
}