<!-- <nz-space nzSize="middle">
  <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Save</button>
</nz-space>
<br>
<br> -->

<div class="main">
  <ng-template #discord>
    <nz-icon nzType="discord" nzTheme="fill" style="font-size: 20px; color: #7289da;" /><span>&nbsp;&nbsp;Discord
      Server</span>
  </ng-template>

  <ng-template #saveDiscord>
    <button nz-button nzType="primary" (click)="saveDiscordData()" [nzLoading]="isDiscordSettingsSaving">Save</button>
  </ng-template>
  <nz-card [nzTitle]="discord" [nzExtra]="saveDiscord">
    <form nz-form [formGroup]="discordForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="email">App Installation Link</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="appInstallationExtra">
          <button nz-button nzType="dashed"
            href="https://discord.com/oauth2/authorize?client_id=1340176241097183343&permissions=8&scope=bot">
            <a style="color: #7289da;"
              href="https://discord.com/oauth2/authorize?client_id=1340176241097183343&permissions=8&scope=bot">
              https://discord.com/oauth2/authorize?client_id=1340176241097183343&permissions=8&scope=bot</a>
          </button>
        </nz-form-control>
      </nz-form-item>
      <ng-template #appInstallationExtra>
        <p>Upon installation a Token channel will be created and a token will be sent in this channel. Copy and paste it
          into the text field below.</p>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="token">Confirmation Token</nz-form-label>
        <nz-form-control [nzErrorTip]="tokenErrorMessage" [nzSpan]="24" [nzExtra]="discordAlert">
          <input nz-input name="token" formControlName="token"
            placeholder="Your discord confirmation token will be in the Token channel of your Discord Server"
            type="text" id="token" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #discordAlert>
        <span *ngIf="account?.server.discord">
          <nz-alert nzType="success" [nzMessage]="discordInstalledMessage"></nz-alert>
          <ng-template #discordInstalledMessage>
            <div class="discord-success">
              <nz-icon nzType="discord" nzTheme="fill" style="font-size: 40px; color: #7289da;" />
              <div>
                <p style="margin: 0;">Discord server is configured</p>
                <p style="margin: 0;">Discord server: <b style="text-transform: uppercase;">
                    {{ account?.server.discord.name }}</b>
                </p>
              </div>
            </div>
          </ng-template>
        </span>

        <span *ngIf="!account?.server.discord">
          <nz-alert nzType="warning" [nzMessage]="discordInstalledMessage"></nz-alert>
          <ng-template #discordInstalledMessage>
            <div class="discord-success">
              <nz-icon nzType="discord" nzTheme="fill" style="font-size: 40px; color: #7289da;" />
              <div>
                <p style="margin: 0;">Discord server is not configured.</p>
                <p style="margin: 0;">Please input the token sent to the channel "Token" in your Discord server. Use
                  the
                  installation link
                  above to
                  install the discord bot. Once the token is confirmed we will automatically create all channels
                  needed
                  for logs and
                  interactions.</p>
              </div>
            </div>
          </ng-template>
        </span>
      </ng-template>

      <nz-form-item style="margin-top: 20px;">
        <nz-form-label [nzSpan]="0" nzFor="discordLink">Discord Link</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="discordLink">
          <input nz-input name="discordLink" type="text" id="discordLink" formControlName="discordLink" />
        </nz-form-control>
        <ng-template #discordLink>
          <p>Players can type !discord inside the game and the bot will respond with your Discord Link. Leave blank if
            not needed</p>
        </ng-template>
      </nz-form-item>
    </form>
  </nz-card>

  <ng-template #channelSelections>
    <nz-icon nzType="discord" nzTheme="fill" style="font-size: 20px; color: #7289da;" /><span>&nbsp;&nbsp;Discord
      Channels</span>
  </ng-template>
  <ng-template #saveChannels>
    <button nz-button [disabled]="!account?.server.discord" nzType="primary">Save</button>
  </ng-template>
  <nz-card [nzTitle]="channelSelections">
    <form nz-form [formGroup]="channelsForm" *ngIf="account?.server.discord; else noDiscord">
      <nz-form-item>
        <nz-form-label [nzSpan]="0">Create channels</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="defaultChannelsDisclaimer">
          <button nz-button nz-popconfirm (nzOnConfirm)="createTemplate()"
            nzPopconfirmTitle="Warning this will replace all the channels you already have set bellow. Are you sure of that?"
            nzOkText="Yes" nzCancelText="No" [disabled]="runTemplate" nzType="primary">Create Default Channels</button>
        </nz-form-control>
      </nz-form-item>
      <ng-template #defaultChannelsDisclaimer>
        <p style="margin-top: 10px;">This will create all default channels for logs and interactions on your Discord
          server. <span nz-typography nzType="danger">Warning this will replace all the channels you already have set
            bellow.</span></p>
      </ng-template>

      <nz-divider nzText="Interactable Channels"></nz-divider>
      <br>
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="register">Welcomepack/Registering Channel</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="register" formControlName="register" nzPlaceHolder="Select a discord channel">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="chat">Chat Channel</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="chat" formControlName="game-chat" nzPlaceHolder="Select a discord channel">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="taxi">Taxi Channel</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="taxi" formControlName="taxi" nzPlaceHolder="Select a discord channel">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Log Channels"></nz-divider>
      <br>
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="abusePublic">No Admin Abuse Channel</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="abusePublic" nzPlaceHolder="Select a discord channel" formControlName="no-admin-abuse-public">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="killFeed">Kill Feed</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="killFeed" nzPlaceHolder="Select a discord channel" formControlName="kill-feed">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="sniperRank">Sniper Rank</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="sniperRank" nzPlaceHolder="Select a discord channel" formControlName="sniper-rank">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="killRank">Kill Rank</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="killRank" nzPlaceHolder="Select a discord channel" formControlName="kill-rank">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="lockpickRank">Lockpick Rank</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="lockpickRank" nzPlaceHolder="Select a discord channel" formControlName="lockpick-rank">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="bunkerState">Bunker State</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="bunkerState" nzPlaceHolder="Select a discord channel" formControlName="bunker-states">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="login">Login</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="login" nzPlaceHolder="Select a discord channel" formControlName="login">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="buriedChest">Buried Chest</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="buriedChest" nzPlaceHolder="Select a discord channel" formControlName="buried-chest">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="mineKill">Mine Kill</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="mineKill" nzPlaceHolder="Select a discord channel" formControlName="mine-kill">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="lockpickAlert">Lockpick Alert</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="lockpickAlert" nzPlaceHolder="Select a discord channel" formControlName="lockpick-alert">
            <nz-option [nzValue]="null" nzLabel="Disabled"></nz-option>
            @for (channel of channels; track $index) {
            <nz-option [nzValue]="channel.discordId" [nzLabel]="channel.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

  <ng-template #lock>
    <nz-icon nzType="lock" nzTheme="outline" style="font-size: 20px;" /><span>&nbsp;&nbsp;Lockpick Feed</span>
  </ng-template>
  <ng-template #saveLockpickFeed>
    <button nz-button [disabled]="!account?.server.discord" nzType="primary">Save</button>
  </ng-template>
  <nz-card [nzTitle]="lock">
    <ng-template #noDiscord>
      <nz-alert nzMessage="Discord configuration is required." nzType="error"></nz-alert>
    </ng-template>
    <form nz-form *ngIf="account?.server.discord; else noDiscord" [formGroup]="lockpickFeed">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="useLockpickFeed">Post Lockpick Attempt in Discord</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzExtra]="lockpickAttempt">
          <nz-switch formControlName="useLockpickFeed"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <ng-template #lockpickAttempt>
        <p>Notify when someone is attempting to lockpick a player lock in the selected Lockpick Alert Discord channel.
        </p>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="showLockpickSector">Show sector</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzExtra]="lockpickSector">
          <nz-switch formControlName="showLockpickSector"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <ng-template #lockpickSector>
        <p>Displays sector of the lockpick attempt</p>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="showLockpickContainerName">Show locked container</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzExtra]="lockContainer">
          <nz-switch formControlName="showLockpickContainerName"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <ng-template #lockContainer>
        <p>Displays the type of container that is being unlocked.</p>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="sendVipLockpickAlert">Send alert to vip players</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzExtra]="vipPlayerLockAlert">
          <nz-switch formControlName="sendVipLockpickAlert"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <ng-template #vipPlayerLockAlert>
        <p>Send message to the lock owner's discord if they are vip</p>
      </ng-template>

    </form>
  </nz-card>
  <!-- <div class="last"></div> -->

</div>