<nz-space nzSize="middle">
  <button (click)="goBack()" *nzSpaceItem nz-button nzType="default">
    <nz-icon nzType="arrow-left"></nz-icon>
    Squads
  </button>
</nz-space>
<br>
<br>
<div class="main">
  <nz-card [nzTitle]="squad?.squadName" nzSize="small">
    <nz-table #basicTable [nzData]="squad?.members" nzSize="small">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Steam Name</th>
          <th>Steam ID</th>
          <th>Rank</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data; let i = $index) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ data.characterName }}</td>
          <td>{{ data.steamName }}</td>
          <td>{{ data.steamId }}</td>
          <td>{{ data.memberRank }}</td>
          <td><a [routerLink]="['/management', 'players', data.steamId]">View Player</a></td>
        </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>