<nz-space nzSize="middle">
  <button *nzSpaceItem nz-button nzType="primary" [nzLoading]="loading" (click)="save()">
    Save Profile
  </button>
</nz-space>
<br>
<br>
<div class="main single">
  <nz-card nzTitle="Profile" nzSize="small">
    <form nz-form [formGroup]="profileForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the name!">
          <input formControlName="name" nz-input name="name" type="text" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="lastName">Last Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the last name!">
          <input formControlName="lastName" nz-input name="lastName" type="text" id="lastName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzRequired>
        <nz-form-label [nzSpan]="0" nzFor="name">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the email!">
          <input formControlName="email" nz-input name="email" type="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzRequired>
        <nz-form-label [nzSpan]="0" nzFor="country">Country</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Country is required!" [nzSpan]="24">
          <nz-select nzSize="large" id="country" nzPlaceHolder="Select your country" formControlName="country"
            nzAllowClear="false" nzShowSearch="true">
            <nz-option *ngFor="let country of countries" [nzValue]="country.name" [nzLabel]="country.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Password</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the password!" [nzExtra]="mismatch">
          <input formControlName="password" nz-input name="password" type="password" id="password"
            placeholder="Input a new password. Leave it blank if not needed" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #mismatch>
        <nz-alert *ngIf="mismatchPass" nzType="error" nzMessage="Passwords mismatch"></nz-alert>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the password confirmation!" [nzExtra]="mismatch">
          <input formControlName="confirmPassword" nz-input name="confirmPassword" type="password" id="confirmPassword"
            placeholder="Input a new password. Leave it blank if not needed" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #mismatch>
        <nz-alert *ngIf="mismatchPass" nzType="error" nzMessage="Passwords mismatch"></nz-alert>
      </ng-template>
    </form>
  </nz-card>
</div>