<nz-space nzSize="middle">
  <button *nzSpaceItem nz-button nzType="primary" [nzLoading]="loading" (click)="save()">
    Save Profile
  </button>
</nz-space>
<br>
<br>
<div class="main single">
  <nz-card nzTitle="Profile">
    <form nz-form [formGroup]="profileForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the name!">
          <input formControlName="name" nz-input name="name" type="text" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the email!">
          <input formControlName="email" nz-input name="email" type="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Password</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the password!" [nzExtra]="mismatch">
          <input formControlName="password" nz-input name="password" type="password" id="password"
            placeholder="Input a new password. Leave it blank if not needed" />
        </nz-form-control>
      </nz-form-item>
       <ng-template #mismatch>
        <nz-alert *ngIf="mismatchPass" nzType="error" nzMessage="Passwords mismatch"></nz-alert>
      </ng-template>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the password confirmation!" [nzExtra]="mismatch">
          <input formControlName="confirmPassword" nz-input name="confirmPassword" type="password" id="confirmPassword"
            placeholder="Input a new password. Leave it blank if not needed" />
        </nz-form-control>
      </nz-form-item>
      <ng-template #mismatch>
        <nz-alert *ngIf="mismatchPass" nzType="error" nzMessage="Passwords mismatch"></nz-alert>
      </ng-template>
    </form>
  </nz-card>
</div>