<div class="main single">
  <ng-template #saveBtn>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="loading">Save</button>
  </ng-template>
  <nz-card nzSize="small" nzTitle="Exchange" [nzExtra]="saveBtn">
    <div class="blocker"></div>
    <form nz-form [formGroup]="packageForm">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="0" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the Exchange name!">
          <input formControlName="name" nz-input name="name" type="text" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please input the Exchange description!">
          <textarea formControlName="description" nz-input name="description" type="text" id="description"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="enabled">Enabled</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="enabled"></label>
        </nz-form-control>
        <p nz-typography nzType="secondary" style="margin: 0;">Determine whether the Exchange will be available for
          purchase.</p>
      </nz-form-item>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="allowTransfer">Allow Transfers</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="allowTransfer"></label>
        </nz-form-control>
        <p nz-typography nzType="secondary" style="margin: 0;">Allow Coin transfer between players.</p>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="transferRate">Transfer Exchange Rate</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Min amount is 0"
          nzExtra="Tax applied when transfering Player to Player. The tax should be in a range bewteen 0 to 1. Ex: 0.5">
          <input formControlName="transferRate" nz-input name="transferRate" type="number" id="transferRate" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="allowWithdraw">Allow Withdraw</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="allowWithdraw"></label>
        </nz-form-control>
        <p nz-typography nzType="secondary" style="margin: 0;">Allow Coin to Game Money exchange.</p>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="withdrawRate">Withdraw Exchange Rate</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Min amount is 0"
          nzExtra="Tax applied when converting coins → in-game money.">
          <input formControlName="withdrawRate" nz-input name="withdrawRate" type="number" id="withdrawRate" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="allowDeposit">Allow Deposit</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="allowDeposit"></label>
        </nz-form-control>
        <p nz-typography nzType="secondary" style="margin: 0;">Allow Game Money to Coin exchange.</p>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="depositRate">Deposit Exchange Rate</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Min amount is 0"
          nzExtra="Tax applied when converting in-game money → coins.">
          <input formControlName="depositRate" nz-input name="depositRate" type="number" id="depositRate" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="packageImage">Exchange Thumbnail</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="uploadBtn">
          <img *ngIf="avatarUrl" nz-image width="200px" height="200px"
            [nzSrc]="!isUploaded ? avatarUrl : (apiUrl + '/' + avatarUrl)" alt="" />
          <ng-template #uploadBtn>
            <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              [nzBeforeUpload]="handleBeforeUpload">
              <button style="display: none;" #upload></button>
            </nz-upload>

            <button nz-button (click)="upload.click()">
              <nz-icon nzType="upload" />
              Upload
            </button>
            <button *ngIf="packageForm.value.imageUrl != null" style="margin-left: 1px;" nz-button nzDanger
              (click)="removeImage()">
              Remove
            </button>
          </ng-template>

        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="discordChannelId">Discord Channel</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="discordChannelExtra">
          <nz-select nzShowSearch formControlName="discordChannelId" id="discordChannelId"
            nzPlaceHolder="Select the discord channel in which the Exchange Buttons will be displayed">
            <nz-option *ngFor="let ch of channels" [nzValue]="ch.discordId" [nzLabel]="ch.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <ng-template #discordChannelExtra>
        <p *ngIf="account?.server?.discord">The discord channel in which this Exchange will be displayed.</p>
        <span *ngIf="!account?.server?.discord">
          <nz-alert nzType="warning" [nzMessage]="discordInstalledMessage"></nz-alert>
          <ng-template #discordInstalledMessage>
            <div class="discord-success">
              <nz-icon nzType="discord" nzTheme="fill" style="font-size: 40px; color: #7289da;" />
              <div>
                <p style="margin: 0;">Discord server is not set.</p>
                <p style="margin: 0;"><a [routerLink]="'/servers/' + account?.serverId + '/settings/discord'">Click
                    here</a> and follow the instructions to set up the discord server.</p>
              </div>
            </div>
          </ng-template>
        </span>
      </ng-template>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="isVipOnly">VIP Only</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="isVipOnly"></label>
        </nz-form-control>
        <p nz-typography style="margin: 0;" nzType="secondary">Determine whether the Exchange will only be available for
          VIP Players.</p>
      </nz-form-item>

      <nz-form-item nzAlign="middle">
        <nz-form-label [nzSpan]="0" nzFor="isBlockPurchaseRaidTime">Block Exchange During Raid Times</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <label nz-checkbox formControlName="isBlockPurchaseRaidTime"></label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="purchaseCooldownSeconds">Exchange Cooldown (seconds)</nz-form-label>
        <nz-form-control [nzSpan]="24"
          nzExtra="Set a time in seconds to block Exchanges. The player will be able to use the Exchange buttons again once this time passes. Leave it blank if not needed.">
          <input formControlName="purchaseCooldownSeconds" nz-input name="purchaseCooldownSeconds" type="number"
            id="purchaseCooldownSeconds" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="stockPerPlayer">Stock Per Player</nz-form-label>
        <nz-form-control [nzSpan]="24"
          nzExtra="You can set how many times a player can use the Exchange feature per day.">
          <input formControlName="stockPerPlayer" nz-input name="stockPerPlayer" type="number" id="stockPerPlayer" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="stockPerVipPlayer">Stock Per Vip Player</nz-form-label>
        <nz-form-control [nzSpan]="24"
          nzExtra="You can set how many times a vip player can use the Exchange feature per day.">
          <input formControlName="stockPerVipPlayer" nz-input name="stockPerVipPlayer" type="number"
            id="stockPerVipPlayer" />
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="commands">Commands</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzExtra]="commandsExtra">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input #command type="text" nz-input placeholder="Command or text" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch
              (click)="addComand(command.value); command.value = ''">
              Add
            </button>
          </ng-template>

          <div *ngIf="commands.length > 0">
            <nz-list style="margin-top: 20px;" nzBordered="true">
              @for (time of commands; track $index) {
              <nz-list-item>
                <p style="margin: 0;">{{time}}</p>
                <button style="height: 20px; width: 20px;" nz-button nzType="default" (click)="removeCommand($index)">
                  <nz-icon style="font-size: 10px;" nzType="close" />
                </button>
              </nz-list-item>
              }
            </nz-list>
          </div>
        </nz-form-control>
      </nz-form-item>
      <ng-template #commandsExtra>
        <p>You can add commands like #Announce to be executed or just a text. Text added here will be sent in the
          global
          chat. <span nz-typography nzType="danger">DO NOT USE IT TO SPAWN ITEMS.</span></p>
      </ng-template> -->
    </form>
  </nz-card>
</div>