<div class="main">
  <ng-template #newPack>
    <nz-space>
      <nz-input-group *nzSpaceItem [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" [formControl]="searchControl" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>

      <button *nzSpaceItem [routerLink]="['new']" nz-button nzType="primary">
        <nz-icon nzType="plus" style="color: #fff;" nzTheme="outline" />
        New Item
      </button>
    </nz-space>



  </ng-template>
  <nz-card nzTitle="Items" [nzExtra]="newPack">
    <nz-table #basicTable [nzData]="suggestions$ | async" [nzFrontPagination]="false" nzShowSizeChanger [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageIndexChange($event)" [nzLoading]="isLoading"
      (nzPageSizeChange)="pageSizeChange($event)">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Code</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.code}}</td>
          <td>
            <button nz-button nzType="link">
              <nz-icon nzType="edit"></nz-icon>
              Edit
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" nzDanger="true">
              <nz-icon nzType="delete"></nz-icon>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>