<div class="main">
  <ng-template #ftp>
    <nz-icon nzType="file-sync" nzTheme="outline"
      style="font-size: 20px; color: #9D8342;" /><span>&nbsp;&nbsp;FTP</span>
  </ng-template>
  <nz-card [nzTitle]="ftp" [nzExtra]="saveFtpTemplate">
    <form nz-form [formGroup]="ftpForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="address">IP Address</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your FTP IP Address!">
          <input formControlName="address" nz-input name="address" type="text" id="address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="port">Port</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your FTP Port!">
          <input nz-input formControlName="port" name="port" type="text" id="port" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="username">Username</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your FTP Username!">
          <input nz-input formControlName="userName" name="username" type="text" id="username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your FTP Password!">
          <input nz-input formControlName="password" name="password" type="password" id="password" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

  <ng-template #saveFtpTemplate>
    <button nz-button nzType="primary" (click)="saveFtp()" [nzLoading]="savingFtp">Save</button>
  </ng-template>

  <ng-template #server>
    <nz-icon nzType="sliders" nzTheme="outline" style="font-size: 20px;" /><span>&nbsp;&nbsp;Server Settings</span>
  </ng-template>

  <nz-card [nzTitle]="server" [nzExtra]="saveSettings">
    <ng-template #noFtp>
      <nz-alert nzMessage="Valid FTP configuration is required." nzType="error"></nz-alert>
    </ng-template>

    <form nz-form [formGroup]="serverForm" *ngIf="accountDto?.server?.ftp; else noFtp">
      <nz-form-item>
        <p>Server Name: <b>{{accountDto?.server?.name}}</b></p>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="email">Server Restart Times</nz-form-label>
        <nz-form-control [nzSpan]="24" nzExtra="Informational only. Bot does not control server restarts.">
          @for (time of getTimes(); track $index) {
          <div>
            <nz-space>
              <p *nzSpaceItem style="margin: 0;">{{time}}</p>
              <button style="height: 20px; width: 20px;" *nzSpaceItem nz-button nzType="default"
                (click)="removeTime($index)">
                <nz-icon style="font-size: 10px;" nzType="close" />
              </button>
            </nz-space>
          </div>
          }
          <button style="margin-top: 10px;" *ngIf="!cronEditor" (click)="cronEditor = true" nz-button
            nzType="default">Add times</button>

          <div *ngIf="cronEditor" style="margin-top: 10px;">
            <cron-editor [formControl]="cron" [options]="cronOptions"></cron-editor>
            <nz-space>
              <button *nzSpaceItem nz-button nzType="default" (click)="cronEditor = false">Close</button>
              <button *nzSpaceItem nz-button nzType="primary" (click)="addTime()">Add time</button>
            </nz-space>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="battlemetricsId">BattleMetrics ID</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="Look for the BattleMetrics ID that is in the url at BattleMetrics Site. https://www.battlemetrics.com/servers/search?game=scum"
          nzErrorTip="Must be greater then 0">
          <input nz-input formControlName="battleMetricsId" name="battlemetricsId" type="text"
            id="battlemetricsId" />
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Shop"></nz-divider>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinAwardPeriodically">Periodically Bot Shop Coins</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coin will be awarded perodically to online players."
          nzErrorTip="Must be greater then 0">
          <input nz-input formControlName="coinAwardPeriodically" name="coinAwardPeriodically" type="number"
            id="coinAwardPeriodically" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="vipCoinAwardPeriodically">Vip Periodically Bot Shop Coins</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coin will be awarded perodically to online vip players."
          nzErrorTip="Must be greater then 0">
          <input nz-input formControlName="vipCoinAwardPeriodically" name="vipCoinAwardPeriodically" type="number"
            id="vipCoinAwardPeriodically" />
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Mine"></nz-divider>

      <nz-form-item>
        <nz-form-control [nzSpan]="null" nzExtra="Allow players to arm mines outside their flag area, if not allowed, the player will be teleported to their
          own mine. This feature depends on an active bot.">
          <label nz-checkbox formControlName="allowMinesOutsideFlag" nzFor="allowMinesOutsideFlag">Allow Mines Outside
            Flag</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinReductionPerInvalidMineKill">Coin Reduction Per Mine
          Penalty</nz-form-label>
        <nz-form-control [nzSpan]="8"
          nzExtra="The amount of coins that will be reduced for the player when mine outside flag penalty is applied."
          nzErrorTip="Must be greater then 0">
          <input nz-input formControlName="coinReductionPerInvalidMineKill" name="coinReductionPerInvalidMineKill"
            type="number" id="coinReductionPerInvalidMineKill" />
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Alerts"></nz-divider>

      <nz-form-item>
        <nz-form-control [nzSpan]="null"
          nzExtra="This will make the bot notify in game when a player arms a mine outside their flag area.">
          <label nz-checkbox formControlName="announceMineOutsideFlag" nzFor="announceMineOutsideFlag">Announce Mines
            Outside Flag Penalty</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="null"
          nzExtra="Send Discord DM message to vip players when their locks are beign picked.">
          <label nz-checkbox formControlName="sendVipLockpickAlert" nzFor="sendVipLockpickAlert">Send Lockpick Alert To
            Vip Players</label>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-card>
  <ng-template #saveSettings>
    <button [disabled]="!accountDto?.server?.ftp" nz-button nzType="primary" (click)="updateSettings()">Save</button>
  </ng-template>

  <!-- <div class="last"></div> -->

</div>