<div class="main single">
  <ng-template #ftp>
    <nz-icon nzType="file-sync" nzTheme="outline"
      style="font-size: 20px; color: #9D8342;" /><span>&nbsp;&nbsp;FTP</span>
  </ng-template>
  <nz-card class="flex-grow" nzSize="small" [nzTitle]="ftp" [nzExtra]="saveFtpTemplate" nzSize="small">
    <form nz-form [formGroup]="ftpForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="address">IP Address</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your FTP IP Address!">
          <input formControlName="address" nz-input name="address" type="text" id="address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="port">Port</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your FTP Port!">
          <input nz-input formControlName="port" name="port" type="text" id="port" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="username">Username</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Please input your FTP Username!">
          <input nz-input formControlName="userName" name="username" type="text" id="username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Please input your FTP Password!">
          <input nz-input formControlName="password" name="password" type="password" id="password" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>

  <ng-template #saveFtpTemplate>
    <button nz-button nzType="primary" (click)="saveFtp()" [nzLoading]="savingFtp">Save</button>
  </ng-template>

  <ng-template #server>
    <nz-icon nzType="sliders" nzTheme="outline" style="font-size: 20px;" /><span>&nbsp;&nbsp;Server Settings</span>
  </ng-template>

  <nz-card class="flex-grow" nzSize="small" [nzTitle]="server" [nzExtra]="saveSettings" nzSize="small">
    <div class="blocker"></div>
    <ng-template #noFtp>
      <nz-alert nzMessage="Valid FTP configuration is required." nzType="error"></nz-alert>
    </ng-template>

    <form nz-form [formGroup]="serverForm" *ngIf="accountDto?.server?.ftp; else noFtp">
      <nz-form-item>
        <p>Server Name: <b>{{accountDto?.server?.name}}</b></p>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="email">Server Restart Times</nz-form-label>
        <nz-form-control [nzSpan]="24" nzExtra="Informational only. Bot does not control server restarts.">
          @for (time of getTimes(); track $index) {
          <div>
            <nz-space>
              <p *nzSpaceItem style="margin: 0;">{{time}}</p>
              <button style="height: 20px; width: 20px;" *nzSpaceItem nz-button nzType="default"
                (click)="removeTime($index)">
                <nz-icon style="font-size: 10px;" nzType="close" />
              </button>
            </nz-space>
          </div>
          }
          <button style="margin-top: 10px;" *ngIf="!cronEditor" (click)="cronEditor = true" nz-button
            nzType="default">Add times</button>

          <div *ngIf="cronEditor" style="margin-top: 10px;">
            <cron-editor [formControl]="cron" [options]="cronOptions"></cron-editor>
            <nz-space>
              <button *nzSpaceItem nz-button nzType="default" (click)="cronEditor = false">Close</button>
              <button *nzSpaceItem nz-button nzType="primary" (click)="addTime()">Add time</button>
            </nz-space>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="battlemetricsId">BattleMetrics ID</nz-form-label>
        <nz-form-control [nzSpan]="8"
          nzExtra="Look for the BattleMetrics ID that is in the url at BattleMetrics Site. https://www.battlemetrics.com/servers/search?game=scum">
          <input nz-input formControlName="battleMetricsId" name="battlemetricsId" type="text" id="battlemetricsId" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="timeZoneId">Timezone</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select nzShowSearch id="timeZoneId" nzPlaceHolder="Select your timezone"
            formControlName="timeZoneId">
            @for (channel of timezones$ | async; track $index) {
            <nz-option [nzValue]="channel.id" [nzLabel]="channel.displayName"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Shop"></nz-divider>

      <nz-form-item>
        <nz-form-control [nzSpan]="null"
          nzExtra="If disabled, it won't be possible for players to purchase from the bot shop.">
          <label nz-checkbox formControlName="shopEnabled" nzFor="shopEnabled">Shop Enabled</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinAwardIntervalMinutes">Login Time Inverval</nz-form-label>
        <nz-form-control [nzSpan]="8"
          nzExtra="How much time in minutes should pass before giving coins to online players. Zero means never award coins by login time."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="coinAwardIntervalMinutes" name="coinAwardIntervalMinutes" type="number"
            id="coinAwardIntervalMinutes" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinAwardPeriodically">Login Time Coins Award</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coins will be awarded by login time to online players."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="coinAwardPeriodically" name="coinAwardPeriodically" type="number"
            id="coinAwardPeriodically" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="vipCoinAwardPeriodically">Vip Login Time Coins Award</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coins will be awarded by login time to online vip players."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="vipCoinAwardPeriodically" name="vipCoinAwardPeriodically" type="number"
            id="vipCoinAwardPeriodically" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="welcomePackCoinAward">Welcome Pack Coins Award</nz-form-label>
        <nz-form-control [nzSpan]="8"
          nzExtra="How much coins will be given for new players when claiming the welcome pack."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="welcomePackCoinAward" name="welcomePackCoinAward" type="number"
            id="welcomePackCoinAward" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinKillAwardAmount">Kill Coins Award Amount</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coins will be awarded for player kill."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="coinKillAwardAmount" name="coinKillAwardAmount" type="number"
            id="coinKillAwardAmount" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinDeathPenaltyAmount">Death Coins Penalty Amount</nz-form-label>
        <nz-form-control [nzSpan]="8" nzExtra="How much coins will be removed from players when they are killed."
          nzErrorTip="Must not be negative">
          <input nz-input formControlName="coinDeathPenaltyAmount" name="coinDeathPenaltyAmount" type="number"
            id="coinDeathPenaltyAmount" />
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Mine"></nz-divider>

      <nz-form-item>
        <nz-form-control [nzSpan]="null" nzExtra="Allow players to arm mines outside their flag area, if not allowed, the player will be teleported to their
          own mine. This feature depends on an active bot.">
          <label nz-checkbox formControlName="allowMinesOutsideFlag" nzFor="allowMinesOutsideFlag">Allow Mines Outside
            Flag</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="coinReductionPerInvalidMineKill">Coin Reduction Per Mine
          Penalty</nz-form-label>
        <nz-form-control [nzSpan]="8"
          nzExtra="The amount of coins that will be reduced for the player when mine outside flag penalty is applied."
          nzErrorTip="Must be greater then 0">
          <input nz-input formControlName="coinReductionPerInvalidMineKill" name="coinReductionPerInvalidMineKill"
            type="number" id="coinReductionPerInvalidMineKill" />
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Alerts"></nz-divider>

      <nz-form-item>
        <nz-form-control [nzSpan]="null"
          nzExtra="This will make the bot notify in game when a player arms a mine outside their flag area.">
          <label nz-checkbox formControlName="announceMineOutsideFlag" nzFor="announceMineOutsideFlag">Announce Mines
            Outside Flag Penalty</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="null"
          nzExtra="Send Discord DM message to vip players when their locks are beign picked.">
          <label nz-checkbox formControlName="sendVipLockpickAlert" nzFor="sendVipLockpickAlert">Send Lockpick Alert To
            Vip Players</label>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-card>
  <ng-template #saveSettings>
    <button [disabled]="!accountDto?.server?.ftp" nz-button nzType="primary" (click)="updateSettings()">Save</button>
  </ng-template>

  <!-- <div class="last"></div> -->

</div>