<nz-space nzSize="middle">
  <button (click)="goBack()" *nzSpaceItem nz-button nzType="default">
    <nz-icon nzType="arrow-left"></nz-icon>
    Players
  </button>

  <button *nzSpaceItem nz-popconfirm nz-button nzType="default"
    nzPopconfirmTitle="Are you sure you want to silence {{ playerForm.value.name }}'s chat?"
    (nzOnConfirm)="confirmSilence(playerForm.value.id)" nzPopconfirmPlacement="topLeft" [nzOkText]="'Yes'"
    nzCancelText="No" [nzOkDanger]="true">
    <nz-icon nzType="audio-muted" nzTheme="outline" />
    Silence <b> {{ playerForm.value.name }}</b>
  </button>

  <button *nzSpaceItem nz-popconfirm nz-button nzType="default" nzDanger="true"
    nzPopconfirmTitle="Are you sure you want to ban {{ playerForm.value.name }}?"
    (nzOnConfirm)="confirmBan(playerForm.value.id)" nzPopconfirmPlacement="topLeft" [nzOkText]="'Yes'" nzCancelText="No"
    [nzOkDanger]="true">
    <nz-icon nzType="stop"></nz-icon>
    Ban <b> {{ playerForm.value.name }}</b>
  </button>
</nz-space>
<br>
<br>
<div class="main single">
  <nz-card nzTitle="Player">
    <form nz-form [formGroup]="playerForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.name }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Steam ID</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.steamId64 }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Steam Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.steamName }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Registered on Discord</nz-form-label>
        <nz-icon nz-popover [nzPopoverContent]="playerForm.value.discordId ? 'Yes' : 'No'"
          style="font-size: 18px;" [nzType]="playerForm.value.discordId ? 'check' : 'close'"
          [ngClass]="{ 'success': playerForm.value.discordId, 'danger': !playerForm.value.discordId}"></nz-icon>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Discord Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.discordName }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Fame</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.fame }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.fame != null" nz-button (click)="addingFame = true;" nzType="link">Add/Remove
          Fame</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ingame Money</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.money }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.money != null" (click)="addingMoney = true;" nz-button nzType="link">Add/Remove
          Money</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ingame Gold</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.gold }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.gold != null" (click)="addingGold = true;" nz-button nzType="link">Add/Remove
          Gold</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Bot Coins</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.coin }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.coin != null" (click)="addingCoins = true;" nz-button nzType="link">Add/Remove
          Coins</button>

      </nz-form-item>
    </form>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="addingCoins" nzTitle="Add/Remove Coins" (nzOnCancel)="addingCoins = false">
  <div *nzModalContent>
    <p nz-typography>Adding bot coins to {{playerForm.value.name}}, input negative values to remove coins.</p>
    <input nz-input type="number" [(ngModel)]="addCoinsValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingCoins = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addCoins()" [nzLoading]="addingCoinsLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingGold" nzTitle="Add/Remove Gold" (nzOnCancel)="addingGold = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame gold to {{playerForm.value.name}}, input negative values to remove gold.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take sometime to update in game.</p>
    <input nz-input type="number" [(ngModel)]="addGoldValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingGold = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addGold()" [nzLoading]="addingCoinsLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingMoney" nzTitle="Add/Remove Money" (nzOnCancel)="addingMoney = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame money to {{playerForm.value.name}}, input negative values to remove money.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take sometime to update in game.</p>
    <input nz-input type="number" [(ngModel)]="addMoneyValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingMoney = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addMoney()" [nzLoading]="addingCoinsLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingFame" nzTitle="Add/Remove Fame" (nzOnCancel)="addingFame = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame fame to {{playerForm.value.name}}, input negative values to remove fame.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take sometime to update in game.</p>
    <input nz-input type="number" [(ngModel)]="addFameValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingFame = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addFame()" [nzLoading]="addingCoinsLoader">Add</button>
  </div>
</nz-modal>