<nz-space [nzWrap]="true" nzSize="middle">
  <button (click)="goBack()" *nzSpaceItem nz-button nzType="default">
    <nz-icon nzType="arrow-left"></nz-icon>
    Players
  </button>
  @if (playerForm.value.isSilenced) {
  <button *nzSpaceItem nz-button nzType="default" (click)="confirmRemoveSilence(playerForm.value.id)">
    <nz-icon nzType="stop"></nz-icon>
    Remove Silence
  </button>
  } @else {
  <button *nzSpaceItem nz-button nzType="default" (click)="openSilence()">
    <nz-icon nzType="stop"></nz-icon>
    Silence <b> {{ playerForm.value.name }}</b>
  </button>
  }
  @if (playerForm.value.isBanned) {
  <button *nzSpaceItem nz-button nzType="default" (click)="confirmRemoveBan(playerForm.value.id)">
    <nz-icon nzType="stop"></nz-icon>
    Remove Ban
  </button>
  } @else {
  <button *nzSpaceItem nz-button nzType="default" nzDanger="true" (click)="openBan()">
    <nz-icon nzType="stop"></nz-icon>
    Ban <b> {{ playerForm.value.name }}</b>
  </button>
  }
</nz-space>
<br>
<br>
<div class="main single">
  <nz-card nzSize="small" nzTitle="Player">
    <form nz-form [formGroup]="playerForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.name }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Steam ID</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.steamId64 }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Steam Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.steamName }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Squad</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><a
              [routerLink]="['/management', 'squads', playerForm.value.squadId]">{{playerForm.value.squadName}}</a></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Last Logged In</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.lastLoggedIn | date: 'fullDate' }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Joined Date</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.createDate | date: 'fullDate' }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Registered on Discord</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-icon nz-popover [nzPopoverContent]="playerForm.value.discordId ? 'Yes' : 'No'" style="font-size: 18px;"
            [nzType]="playerForm.value.discordId ? 'check' : 'close'"
            [ngClass]="{ 'success': playerForm.value.discordId, 'danger': !playerForm.value.discordId}"></nz-icon>
        </nz-form-control>
        <button *ngIf="playerForm.value.discordId" nz-button nzType="link" (click)="deliverWelcomepack()"
          [nzLoading]="loadingWelcomepack">Deliver Welcomepack</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Discord Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.discordName }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ip Address</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.ipAddress }}</b></p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Silenced</nz-form-label>
        <nz-icon *ngIf="!playerForm.value.isSilenced" nz-popover nzPopoverContent="No" style="font-size: 18px;"
          nzType="close" class="danger"></nz-icon>
        <p style="margin: 0; text-emphasis: ' ';" nzType="secondary"
          *ngIf="playerForm.value.isSilenced && playerForm.value.silenceExpiresAt" nz-typography>
          Until {{date(playerForm.value.silenceExpiresAt) | date: 'fullDate'}}
        </p>

        <p style="margin: 0; text-emphasis: ' ';" nzType="secondary"
          *ngIf="playerForm.value.isSilenced && !playerForm.value.silenceExpiresAt" nz-typography>Forever</p>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Banned</nz-form-label>
        <nz-icon *ngIf="!playerForm.value.isBanned" nz-popover nzPopoverContent="No" style="font-size: 18px;"
          nzType="close" class="danger"></nz-icon>
        <p style="margin: 0; text-emphasis: ' ';" nzType="secondary"
          *ngIf="playerForm.value.isBanned && playerForm.value.banExpiresAt" nz-typography>
          Until {{date(playerForm.value.banExpiresAt) | date: 'fullDate'}}
        </p>

        <p style="margin: 0; text-emphasis: ' ';" nzType="secondary"
          *ngIf="playerForm.value.isBanned && !playerForm.value.banExpiresAt" nz-typography>Forever</p>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Vip</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-icon *ngIf="!playerForm.value.isVip" nz-popover nzPopoverContent="No" style="font-size: 18px;"
            nzType="close" class="danger"></nz-icon>
          <p style="margin: 0;" nzType="secondary" *ngIf="playerForm.value.isVip && playerForm.value.vipExpiresAt"
            nz-typography>
            Until {{date(playerForm.value.vipExpiresAt) | date: 'fullDate'}}
          </p>

          <p style="margin: 0;" nzType="secondary" *ngIf="playerForm.value.isVip && !playerForm.value.vipExpiresAt"
            nz-typography>Forever</p>
        </nz-form-control>
        <button nz-popconfirm nzPopconfirmTitle="Are you sure you want to remove {{ playerForm.value.name }}'s vip?"
          (nzOnConfirm)="confirmVipRemove(playerForm.value.id)" nzPopconfirmPlacement="topLeft" [nzOkText]="'Yes'"
          nzCancelText="No" [nzOkDanger]="true" *ngIf="playerForm.value.isVip" nz-button nzType="link">Remove
          Vip</button>
        <button *ngIf="!playerForm.value.isVip" nz-button nzType="link" (click)="openAddVip()">Add Vip</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Bot Coins</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <p style="margin: 0;"><b>{{ playerForm.value.coin }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.coin != null" (click)="addingCoins = true;" nz-button nzType="link">Add/Remove
          Coins</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ingame Fame</nz-form-label>
        <nz-form-control [nzSpan]="24" nzExtra="*bot online required">
          <p style="margin: 0;"><b>{{ playerForm.value.fame }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.fame != null" nz-button (click)="addingFame = true;" nzType="link">Add/Remove
          Fame</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ingame Money</nz-form-label>
        <nz-form-control [nzSpan]="24" nzExtra="*bot online required">
          <p style="margin: 0;"><b>{{ playerForm.value.money }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.money != null" (click)="addingMoney = true;" nz-button nzType="link">Add/Remove
          Money</button>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="0" nzFor="name">Ingame Gold</nz-form-label>
        <nz-form-control [nzSpan]="24" nzExtra="*bot online required">
          <p style="margin: 0;"><b>{{ playerForm.value.gold }}</b></p>
        </nz-form-control>
        <button *ngIf="playerForm.value.gold != null" (click)="addingGold = true;" nz-button nzType="link">Add/Remove
          Gold</button>
      </nz-form-item>
    </form>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="addingCoins" nzTitle="Add/Remove Coins" (nzOnCancel)="addingCoins = false">
  <div *nzModalContent>
    <p nz-typography>Adding bot coins to {{playerForm.value.name}}, input negative values to remove coins.</p>
    <input nz-input type="number" [(ngModel)]="addCoinsValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingCoins = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addCoins()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingGold" nzTitle="Add/Remove Gold" (nzOnCancel)="addingGold = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame gold to {{playerForm.value.name}}, input negative values to remove gold.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addGoldValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingGold = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addGold()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingMoney" nzTitle="Add/Remove Money" (nzOnCancel)="addingMoney = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame money to {{playerForm.value.name}}, input negative values to remove money.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addMoneyValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingMoney = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addMoney()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingFame" nzTitle="Add/Remove Fame" (nzOnCancel)="addingFame = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame fame to {{playerForm.value.name}}, input negative values to remove fame.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addFameValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingFame = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addFame()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingVip" nzTitle="Adding vip to {{playerForm.value.name}}" (nzOnCancel)="addingVip = false">
  <div *nzModalContent>
    <nz-radio-group [(ngModel)]="dateType">
      <label nz-radio [nzValue]="0">Days</label>
      <label nz-radio [nzValue]="1">Calendar</label>
      <label nz-radio [nzValue]="2">Forever</label>
    </nz-radio-group>
    <br><br>

    @if(dateType == 0) {
    <input nz-input type="number" [(ngModel)]="days" />
    <br><br>
    }
    @else if (dateType == 1) {
    <p nz-typography>Select an expiration date for this player's vip.</p>
    <nz-date-picker [(ngModel)]="selectedDate" nzSize="large" nzAllowClear="false"
      [nzDisabledDate]="disabledDate"></nz-date-picker>
    <br><br>
    }

    <label nz-checkbox [(ngModel)]="whitelist">Add player to whitelist</label>
    <p nz-typography nzType="secondary">Players added to whitelist will have priority on joining the server, and
      the game will kick a non whitelisted players when it's full.</p>
    <br>
    <nz-select nzShowSearch [(ngModel)]="selectedDiscordId" style="width: 100%;"
      nzPlaceHolder="Select the discord role">
      <nz-option *ngFor="let role of discordRoles" [nzValue]="role.discordId" [nzLabel]="role.name"></nz-option>
    </nz-select>
    <p nz-typography nzType="secondary">The selected role will be applied to the player on discord and will be
      applied until the expiration of the vip. Leave it blank if not needed.</p>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingVip = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmVip()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="banningPlayer" nzTitle="Ban {{playerForm.value.name}}" (nzOnCancel)="banningPlayer = false">
  <div *nzModalContent>
    <nz-radio-group [(ngModel)]="dateType">
      <label nz-radio [nzValue]="0">Days</label>
      <label nz-radio [nzValue]="1">Calendar</label>
      <label nz-radio [nzValue]="3">Forever</label>
    </nz-radio-group>
    <br><br>

    @if(dateType == 0) {
    <input nz-input type="number" [(ngModel)]="days" />
    }
    @else if (dateType == 1) {
    <p nz-typography>Select an expiration date for this player's ban.</p>
    <nz-date-picker [(ngModel)]="selectedDate" nzSize="large" nzAllowClear="false"
      [nzDisabledDate]="disabledDate"></nz-date-picker>
    }

  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="banningPlayer = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmBan()" [nzLoading]="addingLoader" nzDanger="true">Ban</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="silencingPlayer" nzTitle="Silence {{playerForm.value.name}}"
  (nzOnCancel)="silencingPlayer = false">
  <div *nzModalContent>
    <nz-radio-group [(ngModel)]="dateType">
      <label nz-radio [nzValue]="0">Days</label>
      <label nz-radio [nzValue]="1">Calendar</label>
      <label nz-radio [nzValue]="3">Forever</label>
    </nz-radio-group>
    <br><br>

    @if(dateType == 0) {
    <input nz-input type="number" [(ngModel)]="days" />
    }
    @else if (dateType == 1) {
    <p nz-typography>Select an expiration date for this player's silence.</p>
    <nz-date-picker [(ngModel)]="selectedDate" nzSize="large" nzAllowClear="false"
      [nzDisabledDate]="disabledDate"></nz-date-picker>
    }

  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="silencingPlayer = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmSilence()" [nzLoading]="addingLoader" nzDanger="true"
      [disabled]="disableCondition()">Silence</button>
  </div>
</nz-modal>