.statistics-card {
    flex-grow: 0 !important;
    width: fit-content;
}

.top-bar {
    display: flex;
    gap: 20px;
}

.fit-content {
    height: fit-content !important;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}