.statistics-card {
    flex-grow: 0 !important;
    width: fit-content;
}

.graph-card {
    flex-grow: 1 !important;
    width: auto;
    max-height: 450px !important;
    max-width: 400px !important;
}

.top-bar {
    display: flex;
    gap: 20px;
}

.fit-content {
    height: fit-content !important;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.bar-holder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}