<div class="main">
  <ng-template #totalTemplate>
    <p nz-typography style="margin: 0">{{total}} total players</p>
  </ng-template>
  <ng-template #newItem>
    <nz-space>
      <nz-input-group *nzSpaceItem [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" [formControl]="searchControl" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-icon nzType="search" />
      </ng-template>
      <button *nzSpaceItem nz-button nzType="link" nz-popover [(nzPopoverVisible)]="onlinePlayersOptionsvisible"
        nzPopoverTrigger="click" [nzPopoverContent]="onlineExtraOptions">
        <nz-icon nzType="dash" nzTheme="outline" />
      </button>
    </nz-space>
  </ng-template>

  <ng-template #onlineExtraOptions>
    <nz-list [nzBordered]="false" nzSize="small">
      <nz-list-item><button nz-button nzType="link" (click)="addingCoins = true">Give Coins To
          All</button></nz-list-item>
      <nz-list-item><button nz-button nzType="link" (click)="addingCoinsOnline = true">Give Coins To All
          Online</button></nz-list-item>
      <nz-list-item><button nz-button nzType="link" (click)="addingMoney = true">Give Money To All
          Online</button></nz-list-item>
      <nz-list-item><button nz-button nzType="link" (click)="addingGold = true">Give Gold To All
          Online</button></nz-list-item>
    </nz-list>
  </ng-template>
  <nz-card nzTitle="Players" [nzExtra]="newItem">
    <nz-table #basicTable nzSize="small" [nzData]="suggestions$ | async" [nzFrontPagination]="false" nzShowSizeChanger
      [nzShowTotal]="totalTemplate" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzPageIndexChange)="pageIndexChange($event)" [nzLoading]="isLoading" (nzPageSizeChange)="pageSizeChange($event)">
      <thead>
        <tr>
          <th>Id</th>
          <th>Scum Name</th>
          <th>Steam Name</th>
          <th>Steam ID</th>
          <th>Registered Discord</th>
          <th>Discord Name</th>
          <th>VIP</th>
          <th>Banned</th>
          <th>Last Login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.steamName}}</td>
          <td>{{data.steamId64}}</td>
          <td nzAlign="center">
            <nz-icon nz-popover [nzPopoverContent]="data.discordId ? 'Yes' : 'No'" style="font-size: 18px;"
              [nzType]="data.discordId ? 'check' : 'close'"
              [ngClass]="{ 'success': data.discordId, 'danger': !data.discordId}">
            </nz-icon>
          </td>
          <td>{{data.discordName}}</td>
          <td>
            <nz-icon nz-popover [nzPopoverContent]="data.isVip ? getDate(data.vipExpiresAt) : 'No'"
              style="font-size: 18px;" [nzType]="data.isVip ? 'check' : 'close'"
              [ngClass]="{ 'success': data.isVip, 'danger': !data.isVip}">
            </nz-icon>
          </td>
          <td>No</td>
          <td>{{data.lastLoggedIn | date: 'mediumDate'}}</td>
          <td>
            <button nz-button nzType="link" [routerLink]="[data.steamId64]">
              <nz-icon nzType="edit"></nz-icon>
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </nz-card>
</div>

<nz-modal [(nzVisible)]="addingCoinsOnline" nzTitle="Add/Remove Coins" (nzOnCancel)="addingCoinsOnline = false">
  <div *nzModalContent>
    <p nz-typography>Adding bot coins to all online, input negative values to remove coins.</p>
    <input nz-input type="number" [(ngModel)]="addCoinsValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingCoinsOnline = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addCoins(true)" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingCoins" nzTitle="Add/Remove Coins" (nzOnCancel)="addingCoins = false">
  <div *nzModalContent>
    <p nz-typography>Adding bot coins to all players, input negative values to remove coins.</p>
    <input nz-input type="number" [(ngModel)]="addCoinsValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingCoins = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addCoins(false)" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingGold" nzTitle="Add/Remove Gold" (nzOnCancel)="addingGold = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame gold to all players online, input negative values to remove gold.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addGoldValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingGold = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addGold()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingMoney" nzTitle="Add/Remove Money" (nzOnCancel)="addingMoney = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame money to all players online, input negative values to remove money.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addMoneyValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingMoney = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addMoney()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="addingFame" nzTitle="Add/Remove Fame" (nzOnCancel)="addingFame = false">
  <div *nzModalContent>
    <p nz-typography>Adding ingame fame to all players online, input negative values to remove fame.</p>
    <p nz-typography nzType="warning">This is a bot command meaning it depends on the bot availability and may take
      sometime to update after applied.</p>
    <input nz-input type="number" [(ngModel)]="addFameValue">
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="addingFame = false;">Cancel</button>
    <button nz-button nzType="primary" (click)="addFame()" [nzLoading]="addingLoader">Add</button>
  </div>
</nz-modal>