<div class="main">
  <ng-template #totalTemplate>
    <p nz-typography style="margin: 0">{{total}} total bots</p>
  </ng-template>
  <nz-card nzTitle="Bots">
    <nz-table nzSize="small" #basicTable [nzData]="data$ | async" [nzFrontPagination]="true"
      [nzShowTotal]="totalTemplate" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      [nzLoading]="isLoading">
      <thead>
        <tr>
          <th>Id</th>
          <th>Steam ID</th>
          <th>Connected</th>
          <th>Game Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.botId}}</td>
          <td>{{data.steamId}}</td>
          <td><nz-icon [nzType]="data.connected ? 'check' : 'close'" nz-popover
              [nzPopoverContent]="data.connected ? 'Yes' : 'No'"
              [ngClass]="{ 'success': data.connected, 'danger': !data.connected}"></nz-icon>
          </td>

          <td><nz-icon [nzType]="data.gameActive ? 'check' : 'close'" nz-popover
              [nzPopoverContent]="data.gameActive ? 'Yes' : 'No'"
              [ngClass]="{ 'success': data.gameActive, 'danger': !data.gameActive}"></nz-icon>
          </td>
          <td>
            <button *ngIf="data.gameActive && data.connected" nz-button nzType="link" (click)="openSendCommand(data.botId)">
              Send Command
            </button>
            <button *ngIf="!data.gameActive" nz-button nzType="link" (click)="sendReconnect(data.botId)">
              Send Reconnect Signal
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="botId" nzTitle="Send Command" (nzOnCancel)="closeSendCommand()">
  <div *nzModalContent>
    <p nz-typography nzType="secondary">Enter the command that the bot will execute.</p>
    <input nz-input type="text" [(ngModel)]="command" />
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeSendCommand()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="loadingCommand" (click)="sendCommand()">Send</button>
  </div>
</nz-modal>